<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

	<context:annotation-config />
	<context:component-scan base-package="relay.controller.board" />
	<context:component-scan base-package="relay.controller.reply"/>
	<context:component-scan base-package="relay.controller.notice" />
	<context:component-scan base-package="relay.controller.login" />
	<context:component-scan base-package="relay.controller.member" />
	<context:component-scan base-package="relay.controller.product"/>
	<context:component-scan base-package="relay.controller.wishlist"/>
	<context:component-scan base-package="relay.controller.message"/>
	<context:component-scan base-package="relay.controller.relay"/>
	<context:component-scan base-package="relay.controller.weather"/>
	<context:component-scan base-package="relay.controller.recommend"/>
	
	<context:component-scan base-package="relay.dao.board" />
	<context:component-scan base-package="relay.dao.reply"/>	
	<context:component-scan base-package="relay.dao.notice" />
	<context:component-scan base-package="relay.dao.login" />
	<context:component-scan base-package="relay.dao.member" />
	<context:component-scan base-package="relay.dao.product"/>
	<context:component-scan base-package="relay.dao.wishlist"/>
	<context:component-scan base-package="relay.dao.message"/>
	<context:component-scan base-package="relay.dao.relay"/>
	<context:component-scan base-package="relay.dao.recommend"/>
	
	<context:component-scan base-package="relay.biz.board" />
	<context:component-scan base-package="relay.biz.notice" />
	<context:component-scan base-package="relay.biz.login" />
	<context:component-scan base-package="relay.biz.member" />
	<context:component-scan base-package="relay.biz.product"/>
	<context:component-scan base-package="relay.biz.reply"/>
	<context:component-scan base-package="relay.biz.wishlist"/>
	<context:component-scan base-package="relay.biz.message"/>
	<context:component-scan base-package="relay.biz.relay"/>
	<context:component-scan base-package="relay.biz.weather"/>
	<context:component-scan base-package="relay.biz.recommend"/>

	<mvc:annotation-driven/>
	<mvc:default-servlet-handler />

	<!-- Controller에서 View로 연결 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
		<property value="52428800000" name="maxUploadSize"/>
		<property value="UTF-8" name="defaultEncoding"/>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url" 
		value="jdbc:mysql://localhost:3306/relay?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;severTimezone=Asia/Seoul"/>
			<!-- value="jdbc:mysql://relay-database.cbpp59g8abpd.ap-northeast-2.rds.amazonaws.com:3306/relay?useSSL=false&amp;severTimezone=Asia/Seoul" /> -->
		<property name="username" value="big4" />
		<property name="password" value="admin1234" />
	</bean>

	<!-- 이 xml 에서 jdbc를 참조한다 -->
	<bean id="" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:resources/mybatis-config.xml" />
		<property name="transactionFactory">
			<bean
				class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />
		</property>
	</bean>
	<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate" p:dataSource-ref="dataSource"/>
	<!-- <mongo:db-factory id="board" dbname="board" mongo-ref="shardedcluster"/> -->
	
	<mongo:mongo-client id="mongo_client" host="localhost" port="27017" >
		<mongo:client-options/>
	</mongo:mongo-client>
		
	<mongo:db-factory id="giftlist_db-factory" dbname="giftlist" mongo-ref="mongo_client" />
	
	<mongo:db-factory id="wishlist_db-factory" dbname="wishlist" mongo-ref="mongo_client" />

	<mongo:template id="giftlist_template" db-factory-ref="giftlist_db-factory" />
		
	<mongo:template id="wishlist_template" db-factory-ref="wishlist_db-factory" />

	<!-- <mongo:template id="shardedtemplate" db-factory-ref="board"/> -->	
	<!-- <mongo:mongo-client
        host="localhost"
        port="27017">
        <mongo:client-options
            connections-per-host="8"
            threads-allowed-to-block-for-connection-multiplier="4"
            connect-timeout="1000"
            max-wait-time="1500"
            socket-keep-alive="false"
            socket-timeout="1500"
        />
    </mongo:mongo-client>
 
    <bean id="mongoClientOptions" class="org.springframework.data.mongodb.core.MongoClientOptionsFactoryBean">
        <property name="connectionsPerHost" value="3"/>
        <property name="connectTimeout" value="1000"/>
        <property name="maxWaitTime" value="1500"/>
        <property name="socketKeepAlive" value="true"/>
    </bean>
    <bean id="mongo" class="org.springframework.data.mongodb.core.MongoClientFactoryBean">
        <property name="host" value="localhost"/>
        <property name="port" value="27017"/>
        <property name="mongoClientOptions" ref="mongoClientOptions"/>
    </bean>
 
    <bean id="simpleMongoDbFactory" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="relay"/>
    </bean>
 
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="simpleMongoDbFactory"/>
    </bean> -->
	
	
</beans>
